.DropContainer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 30%;
    background-color: #5FDD97;
    display: grid;
    align-items: center;
    top: 47px;
    left: 0;
    transition: 0.8s ease-in-out;
}

.Hidden {
    display: none;
}

.DropLink {
    text-decoration: none;
    color: black;
    margin-right: 1.2em;
    font-size: 1.3em;
    padding: .5em;
    
}

.DropItems {
    align-items: center;
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: .5em;
    font-weight: 700;
}

a:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    
}

@media screen and (min-width: 870px) {
    .DropContainer {
        display: none;
    }
}

@media screen and (max-width: 967px) {
    .DropLink {
        padding: .2em;
    }
}