.DropContainer {
    position: fixed;
    z-index: -999;
    width: 0%;
    height: 30%;
    background-color: #ffffff;
    border-bottom: 3px #51c585 solid;
    display: flex;
    align-items: center;
    top: 60px;
    left: 0;
    justify-content: center;
    transition: .5s ease-out
}

.Hidden {
    position: fixed;
    z-index: -998;
    width: 0%;
    height: 30%;
    background-color: #ffffff;
    border-bottom: 3px #51c585 solid;
    display: flex;
    align-items: center;
    top: -260px;
    left: 100px;
    justify-content: center;
    margin: -99px;
    transition: .5s ease-in;
}

.DropLink {
    text-decoration: none;
    color: black;
    /* margin-right: 1.2em; */
    font-size: 1.3em;
    padding: .5em;
    z-index: -999;
    
}

.DropItems {
    align-items: center;
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    z-index: 999;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: .5em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 700;
    z-index: 999;
}

a:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    
}

@media screen and (min-width: 870px) {
    .DropContainer {
        display: none;
    }
}

@media screen and (max-width: 967px) {
    .DropLink {
        padding: .2em;
    }

    .DropContainer {
        border-top: none;
    }
}