.Container {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    overflow: auto;

}

.hero-img {
    z-index: -999;
    width: 10em;
    height: 10em;
    opacity: 8%;
}

#img-one {
    position: absolute;
    top: 50%;
    left: 60%;
}

#img-two {
    position: absolute;
    top: 10%;
    left: 40%;
}

#img-three {
    position: absolute;
    top: 10%;
    left: 80%;
}

#img-five {
    position: absolute;
    top: 40%;
    left: 20%;
}

#img-six {
    position: absolute;
    top: 85%;
    left: 10%;
}

#img-seven {
    position: absolute;
    top: 80%;
    left: 90%;
}

#img-eight {
    position: absolute;
    top: 75%;
    left: 40%;
}





@media screen and (max-width: 600px) {
    .hero-img {
        width: 5em;
        height: 5em;
    }

    #img-one {
        position: absolute;
        top: 50%;
        left: 60%;
    }
    
    #img-two {
        position: absolute;
        top: 25%;
        left: 40%;
    }
    
    #img-three {
        position: absolute;
        top: 10%;
        left: 80%;
    }

    #img-four {
        position: absolute;
        left: 10%;
    }
    
    #img-five {
        position: absolute;
        top: 50%;
        left: 10%;
    }

    #img-seven {
        position: absolute;
        top: 80%;
        left: 70%;
    }

    #img-eight {
        position: absolute;
        top: 70%;
        left: 40%;
    }

}